.dn {
    display: none;
  }

.txtLeft {
    text-align: left
}

.marginTB40 {
    margin-top: 40px; 
    margin-bottom: 40px;
}
.fb {
    float: left;
}

.padL10{
    padding-left: 10px;
}

.cursorPtr {
    cursor: pointer;
}

.error {
    color: red;
    font-weight: bold;
    border: 1px solid red;
    padding: 10px;
    background-color: #ffe6e6;
  }
  h1 {
    color: brown
  }